body {
  margin: 0;
  color: white;
  font-family: sans-serif;
}

* {
  display: block;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #b4d8f0;
  color: #fff;
}

input {
  border: 0;
  outline: 0;
  background: none;
}

.flex_row, #main_container, #trainer_pagination, #trainer-c .trainer, #data_table_pagination, #data_table {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.flex_col, #trainer-c {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#main_container {
  width: 100%;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: #7c96a7;
  z-index: 1000;
}

#loader.hide {
  opacity: 0;
  visibility: hidden;
}

#spinner {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

#spinner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}

#options {
  width: 100%;
  height: 100px;
  padding: 6px;
  background-color: #7c96a7;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

#options > input {
  background-color: #829cad;
  padding: 4px;
  margin: 4px;
  height: 30px;
  cursor: pointer;
  color: #e7eff5;
  border-bottom: 2px solid #748b9a;
  background-image: url("../calendar/imgs/dhxcalendar_material/calendar-ico.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px 18px;
  transition: 0.25s;
}

#options > input:hover {
  background-color: #748b9a;
}

#options #trainer_options {
  width: 200px;
}

#trainer_container, #data_container {
  width: 50%;
  max-width: 600px;
  margin-top: 10px;
}

#trainer_pagination {
  width: 100%;
  background-color: #829cad;
}

#trainer_pagination .pag {
  width: 33.33%;
  font-weight: bold;
  color: white;
  padding: 8px 12px;
  border: 1.5px solid #7c96a7;
}

#trainer_pagination .pag:first-child {
  border-left: 0;
}

#trainer-c {
  width: 100%;
  background-color: #829cad;
}

#trainer-c .trainer {
  width: 100%;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

#trainer-c .trainer:hover .hours {
  background-color: #7c96a7;
}

#trainer-c .trainer h3, #trainer-c .trainer p {
  width: 33.33%;
  display: block;
  color: white;
  padding: 8px 12px;
  border: 1.5px solid #7c96a7;
  height: 42px;
}

#trainer-c .trainer h3:first-child, #trainer-c .trainer p:first-child {
  border-left: 0;
}

#trainer-c .trainer p {
  padding: 9.8px 12px;
  transition: 0.3s;
}

#data_container {
  overflow-x: scroll;
  background-color: #7c96a7;
}

#data_table_pagination {
  width: auto;
  flex-flow: row;
}

#data_table_pagination div {
  width: 100px;
  font-weight: bold;
  color: white;
  padding: 8px 12px;
}

#data_table_pagination .tag {
  width: 50px;
}

#data_table_pagination .datum {
  width: 120px;
}

#data_table {
  width: auto;
  flex-flow: row;
}

#data_table > div {
  width: 100px;
  padding: 8px 12px;
}

#data_table > div > div {
  width: 100px;
  color: white;
}

#data_table .tag div, #data_table .tag {
  width: 50px;
}

#data_table .datum div, #data_table .datum {
  width: 120px;
}
