body {
  margin: 0;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}
$mkl1: rgb(124, 150, 167);
$mkl2: rgb(130, 156, 173);

* {
  display: block;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgb(180, 216, 240);
  color: #fff;
}
h3 {
  font-size: 14px;
}

input {
  border: 0;
  outline: 0;
  background: none;
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.flex_col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#main_container {
  width: 100%;
  @extend .flex_row;
}


#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: $mkl1;
  z-index: 1000;
}
#loader.hide {
  opacity: 0;
  visibility: hidden;
}
#spinner {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(220deg)
  }
}
#spinner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}


#options {
  width: 100%;
  height: 100px;
  padding: 6px;
  background-color: $mkl1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  > input {
    background-color: $mkl2;
    padding: 4px;
    margin: 4px;
    height: 30px;
    cursor: pointer;
    color: rgb(231, 239, 245);
    border-bottom: 2px solid rgb(116, 139, 154);
    background-image: url('../calendar/imgs/dhxcalendar_material/calendar-ico.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px 18px;
    transition: 0.25s;

    &:hover {
      background-color: rgb(116, 139, 154);
    }
  }
  #trainer_options {
    width: 200px;
  }
}

#trainer_container, #data_container {
  width: 50%;
  max-width: 600px;
  margin-top: 10px;
}

#trainer_pagination {
  @extend .flex_row;
  font-size: 14px;
  width: 100%;
  background-color: $mkl2;

  .pag {
    width: 25%;
    font-weight: bold;
    color: white;
    padding: 8px 12px;
    border: 1.5px solid $mkl1;

    &:first-child {
      border-left: 0;
    }
  }
}

#trainer-c {
  width: 100%;
  background-color: $mkl2;
  @extend .flex_col;
  font-size: 14px!important;

  .trainer {
    width: 100%;
    @extend .flex_row;
    align-content: center;
    align-items: center;
    cursor: pointer;

    &:hover .hours {
      background-color: $mkl1;
    }

    h3 {
      width: 25%;
      display: block;
      color: white;
      padding: 8px 12px;
      border: 1.5px solid $mkl1;
      height: 42px;

      &:first-child {
        border-left: 0;
      }
    }
    p {
      @extend h3;
      padding: 9.8px 12px;
      transition: 0.3s;
    }
  }
}
#data_container {
  overflow-x: scroll;
  background-color: $mkl2;
  margin-left: 4px;
  width: calc(50% - 4px);
}
#data_container::-webkit-scrollbar-track {
  background-color: $mkl2;
}
#data_container::-webkit-scrollbar {
  height: 8px;
	background-color: $mkl1;
}
#data_container::-webkit-scrollbar-thumb {
	background-color: rgb(180, 216, 240);
  border-radius: 4px;
}
#data_table_pagination {
  width: auto;
  @extend .flex_row;
  flex-flow: row;

  div {
    width: 100px;
    font-weight: bold;
    color: white;
    padding: 8px 12px;
    border: 1.5px solid $mkl1;

    h3 {
      width: 100px;
    }
  }
  .tag, .tag h3 {
    width: 50px;
  }
  .datum, .datum h3 {
    width: 120px;
  }
}

#data_table {
  width: auto;
  @extend .flex_row;
  flex-flow: row;


  > div {
    width: 100px;


    > div {
      width: 100px;
      color: white;
      height: 34px;
      padding: 8px 12px;
      border: 1.5px solid $mkl1;
    }
  }
  .tag div, .tag{
    width: 50px;
  }
  .datum div, .datum{
    width: 120px;
  }
}
